{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="hero">

    <br><p></p>
    <br><p></p>
    <br><p></p>
    <h1>Welcome to the Home Page</h1>
    <p>Sensor Data Analysis</p>
    {% if current_user.is_authenticated %}
        <p>You are logged in as {{ current_user.username }}.</p>
        <p><a href="{{ url_for('main.dashboard') }}">Go to Dashboard</a></p>
    {% else %}
        <p>Please <a href="{{ url_for('main.login') }}">log in</a> to access more features.</p>
    {% endif %}
</div>
{% endblock %}
