{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    <div class="login-page">
        <div class="form">
    <form class="login-form" method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </div>
        <button>
            {{ form.submit() }}
        </button>
    </form>
        </div></div>
{% endblock %}
